@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fcfcfd;
  --foreground: #1c1c22;
  --card: #ffffff;
  --card-foreground: #1c1c22;
  --popover: #ffffff;
  --popover-foreground: #1c1c22;
  --primary: #43a2ea;
  --primary-foreground: #fafafa;
  --secondary: #f2f2f3;
  --secondary-foreground: #242429;
  --muted: #f2f2f3;
  --muted-foreground: #7a7a85;
  --accent: #f2f2f3;
  --accent-foreground: #242429;
  --destructive: #e23636;
  --destructive-foreground: #fafafa;
  --border: #dfdfe2;
  --input: #e4e4e7;
  --ring: #7a30e8;
  --chart-1: #7a30e8;
  --chart-2: #22c37d;
  --chart-3: #f28b0d;
  --chart-4: #2691d9;
  --chart-5: #dd3c57;
  --sidebar: #1c1c22;
  --sidebar-foreground: #f2f2f2;
  --sidebar-primary: #975eed;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #303036;
  --sidebar-accent-foreground: #f2f2f2;
  --sidebar-border: #3b3b45;
  --sidebar-ring: #975eed;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-alans: Alexandria, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.65rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 15px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(240 3% 5%);
  --shadow-2xs: 0px 6px 15px -2px hsl(240 3% 5% / 0.04);
  --shadow-xs: 0px 6px 15px -2px hsl(240 3% 5% / 0.04);
  --shadow-sm: 0px 6px 15px -2px hsl(240 3% 5% / 0.08), 0px 1px 2px -3px hsl(240 3% 5% / 0.08);
  --shadow: 0px 6px 15px -2px hsl(240 3% 5% / 0.08), 0px 1px 2px -3px hsl(240 3% 5% / 0.08);
  --shadow-md: 0px 6px 15px -2px hsl(240 3% 5% / 0.08), 0px 2px 4px -3px hsl(240 3% 5% / 0.08);
  --shadow-lg: 0px 6px 15px -2px hsl(240 3% 5% / 0.08), 0px 4px 6px -3px hsl(240 3% 5% / 0.08);
  --shadow-xl: 0px 6px 15px -2px hsl(240 3% 5% / 0.08), 0px 8px 10px -3px hsl(240 3% 5% / 0.08);
  --shadow-2xl: 0px 6px 15px -2px hsl(240 3% 5% / 0.20);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #000000;
  --foreground: #f2f2f2;
  --card: #000000;
  --card-foreground: #f2f2f2;
  --popover: #080808;
  --popover-foreground: #f2f2f2;
  --primary: #5880d0;
  --primary-foreground: #fafafa;
  --secondary: #121212;
  --secondary-foreground: #f2f2f2;
  --muted: #0d0d0d;
  --muted-foreground: #afafb6;
  --accent: #0d0d0d;
  --accent-foreground: #f2f2f2;
  --destructive: #ad1f1f;
  --destructive-foreground: #fafafa;
  --border: #252525;
  --input: #3b3b44;
  --ring: #7a30e8;
  --chart-1: #7a30e8;
  --chart-2: #22c37d;
  --chart-3: #f28b0d;
  --chart-4: #2691d9;
  --chart-5: #dd3c57;
  --sidebar: #0d0d0d;
  --sidebar-foreground: #f2f2f2;
  --sidebar-primary: #975eed;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #2f2f37;
  --sidebar-accent-foreground: #f2f2f2;
  --sidebar-border: #3b3b45;
  --sidebar-ring: #975eed;
  --font-sans: Alexandria, ui-sans-serif, sans-serif, system-ui;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.65rem;
  --shadow-x: 0px;
  --shadow-y: 12px;
  --shadow-blur: 25px;
  --shadow-spread: -8px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(240 3% 5%);
  --shadow-2xs: 0px 12px 25px -8px hsl(240 3% 5% / 0.20);
  --shadow-xs: 0px 12px 25px -8px hsl(240 3% 5% / 0.20);
  --shadow-sm: 0px 12px 25px -8px hsl(240 3% 5% / 0.40), 0px 1px 2px -9px hsl(240 3% 5% / 0.40);
  --shadow: 0px 12px 25px -8px hsl(240 3% 5% / 0.40), 0px 1px 2px -9px hsl(240 3% 5% / 0.40);
  --shadow-md: 0px 12px 25px -8px hsl(240 3% 5% / 0.40), 0px 2px 4px -9px hsl(240 3% 5% / 0.40);
  --shadow-lg: 0px 12px 25px -8px hsl(240 3% 5% / 0.40), 0px 4px 6px -9px hsl(240 3% 5% / 0.40);
  --shadow-xl: 0px 12px 25px -8px hsl(240 3% 5% / 0.40), 0px 8px 10px -9px hsl(240 3% 5% / 0.40);
  --shadow-2xl: 0px 12px 25px -8px hsl(240 3% 5% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-alans: var(--font-alans);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border outline-ring/50;
    font-family: var(--font-sans);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background text-foreground;
  }

  main {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}